h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  color: var(--color1);
}
img {
  max-width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
}
button,
a {
  font-family: "Roboto", sans-serif;
}
ul {
  display: flex;
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color1);
}

::-webkit-scrollbar-thumb {
  background: var(--color2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color3);
}

@mixin pointer() {
  cursor: pointer;
}

@mixin description($line) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

@mixin transition() {
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
