@import "../../style/global.scss";
header {
  padding: 28px 0px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: var(--white);
  &.scroll {
    box-shadow: 0px 6px 35px -10px rgba(0, 0, 0, 0.75);
  }
  @include breakpoint("max-xl") {
    padding: 20px 0px;
  }
  @include breakpoint("max-lg") {
    padding: 16px 0px;
  }
  @include breakpoint("max-sm") {
    padding: 12px 0px;
  }
  .header_alignment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    @include breakpoint("max-md") {
      grid-template-columns: repeat(2, 1fr);
    }
    .header_logo {
      img {
        width: 200px;
        // height: 50px;
        object-fit: cover;
        cursor: pointer;
        @include breakpoint("max-xl") {
          width: 180px;
        }
      }
    }
    .header_menu {
      @include breakpoint("max-md") {
        display: none;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include breakpoint("max-xl") {
          gap: 24px;
        }
        @include breakpoint("max-lg") {
          gap: 20px;
        }
        @include breakpoint("max-sm") {
          gap: 16px;
        }
        @include breakpoint("max-xs") {
          gap: 12px;
        }
        li {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 22px;
          @include pointer();
          color: var(--color1);
          &:hover {
            color: var(--red);
          }
          @include breakpoint("max-xl") {
            font-size: 20px;
          }
          @include breakpoint("max-lg") {
            font-size: 18px;
          }
          @include breakpoint("max-sm") {
            font-size: 16px;
          }
          @include breakpoint("max-xs") {
            font-size: 14px;
          }
        }
      }
    }
    .header_btn {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: flex-end;
      @include breakpoint("max-xl") {
        gap: 8px;
      }
      @include breakpoint("max-sm") {
        gap: 6px;
      }

      .login_btn {
        padding: 12px 20px;
        font-size: 20px;
        font-weight: 600;
        border: 1px solid transparent;
        @include pointer();
        color: var(--white);
        border-radius: 12px;
        background-color: var(--btn_bg);
        &:hover {
          opacity: 0.9;
        }
        @include breakpoint("max-xl") {
          padding: 10px 16px;
          font-size: 18px;
        }
        @include breakpoint("max-lg") {
          padding: 8px 14px;
          font-size: 16px;
        }
        @include breakpoint("max-sm") {
          padding: 6px 12px;
          font-size: 14px;
          font-weight: 500;
          display: none;
        }
        @include breakpoint("max-xs") {
          padding: 4px 10px;
          font-size: 12px;
        }
      }
      .signup_btn {
        padding: 12px 20px;
        font-size: 20px;
        font-weight: 600;
        border: 1px solid transparent;
        @include pointer();
        color: var(--color1);
        border-radius: 12px;
        &:hover {
          background-color: var(--btn_bg);
          color: var(--white);
        }
        @include breakpoint("max-xl") {
          padding: 10px 16px;
          font-size: 18px;
        }
        @include breakpoint("max-lg") {
          padding: 8px 14px;
          font-size: 16px;
        }
        @include breakpoint("max-sm") {
          padding: 6px 12px;
          font-size: 14px;
          font-weight: 500;
          display: none;
        }
        @include breakpoint("max-xs") {
          padding: 4px 10px;
          font-size: 12px;
        }
      }
      .search_icon {
        @include pointer();
      }
    }
    .search_bar {
      position: absolute;
      bottom: -70px;
      left: 0px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      visibility: hidden;
      &.active {
        visibility: visible;
      }
      input {
        background: var(--search_bar);
        border-radius: 12px;
        width: 100%;
        padding: 16px 20px;
        border: none;
        font-size: 20px;
        color: var(--color2);
        &:focus {
          outline: none;
          &::placeholder {
            color: var(--search_bar);
          }
        }
        &::placeholder {
          font-size: 20px;
        }
      }
      .close_icon {
        padding: 12px;
        svg {
          padding: 16px;
          background-color: var(--btn_bg);
          border-radius: 12px;
          margin-top: 3px;
        }
      }
    }
  }
}
